@media (min-width: 1025px) and (max-width: 1280px) {
    $third: 100%/3;

    @mixin photo-block {
        .photo-block {
            align-items: flex-start;
            width: $third;
            height: $third;
            position: relative;

            a {
                text-decoration: none;

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .actions {
                position: absolute;
                display: flex;
                justify-content: space-around;
                align-content: center;
                bottom: -15px;
                left: 0;
                right: 0;
                opacity: 0;
                width: 100%;

                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    
                    p {
                    color: white;
                    margin-bottom: 0;
                    padding-right: 5px;
                    user-select: none;
                    }
                    i{
                        color:white;
                    }
                }
                
                .favor{
                    cursor: pointer;
                }

            }

            &:hover {
                .actions {
                    bottom: 0;
                    padding-left: 1%;
                    opacity: 1;
                    background-color: rgba($color: #000, $alpha: 0.5);

                }
            }
        }
    }

    .paralax-container {
        background-image: url('/img/dawn.jpg');
        width: 100%;
        height: 100vh;
        max-width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;

        nav {
            background-color: rgba($color: rgba(0, 0, 255), $alpha: 0.1);
        }

        .title {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-content: center;
            text-align: center;

            h1 {
                font-size: 7vmin;
            }

            h4 {
                font-size: 5vmin;
            }
        }
    }

    .gallery.no-frame {

        width: 100vw;
        height: auto;
        max-width: 100%;
        padding: 0;
        margin: 0;

        .infinite-scroll {
            width: 100%;

            .jscroll-inner {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;

                .jscroll-added {
                    .infinite-scroll {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        @include photo-block;
                    }
                }

                @include photo-block;

            }
        }
    }
}
